@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-text {
    background: linear-gradient(
      to right,
      #f6d365,
      #fda085,
      #6255c4,
      #f6d365,
      #fda085,
      #6255c4,
      #f6d365,
      #fda085,
      #6255c4,
      #f6d365,
      #fda085,
      #6255c4
    );
    
    background-clip: text;
    color: transparent;
    background-size: 400% 400%;
  }
}